<hr />
<footer>
    <p><a href="https://github.com/WayneLiang/microblog" target="_blank">Wayne</a> 2016</p>
</footer>
</div>
</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>