<% posts.forEach(function(post, index) {
if (index % 3 == 0) { %>
<div class="row">
    <%} %>
    <div class="span4">
        <h2><a href="/users/<%= post.user %>"><%= post.user %></a> 说</h2>
        <p><small><%= post.time %></small></p>
        <p><big><%= post.post %></big></p>
    </div>
    <% if (index % 3 == 2) { %>
</div><!-- end row -->
<% } %>
<%}) %>
<% if (posts.length % 3 != 0) { %>
</div><!-- end row -->
<%} %>